@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
}
*,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  counter-reset: item;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

p {
  line-height: 1.7em;
  font-size: 15px;
  letter-spacing: -0.013em;
}

section {
  padding: 5rem 0;
  margin-left: 7%;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #515f6d;
}

.fem_faser {
  padding-bottom: 2rem;
}

.green {
  color: #a6bb75;
}

.orange {
  color: #d8a55a;
}

.blue {
  color: #6696ac;
}

.purple {
  color: #aa81ac;
}

h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #515f6d;
  font-weight: 400;
  font-size: 22px;
}

header {
  position: sticky;
  top: 0;
  padding: 8px;
  text-align: center;
  background-color: #fff;
  z-index: 1;
  margin-left: 8px;
  margin-right: 8px;
}

.progress-bar {
  position: absolute;
  left: 0;
  width: 100%;
}

.progress-bar-inner {
  position: relative;
  width: 0%;
  padding: 0px;
  background-color: #a6bb75;
  color: #fff;
}

/*hero*/

html {
  scroll-behavior: smooth;
}

.parallax1 {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.parallax1 img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero {
  height: 100vh;
  background-size: cover;
  position: relative;
}

.main-message {
  padding-top: 175px;
  margin-left: 7%;
}

.main-message h1 {
  font-weight: 700;
  font-size: 40px;
}

.bracket {
  font-weight: 400;
}
.main-message h2 {
  margin-left: 40px;
  padding: 0;
  font-size: 40px;
}

.main-message p {
  font-size: 40px;
  color: #515f6d;
}

.section-1 {
  padding-top: 7%;
}

.afklaring-tekst1 {
  grid-area: tekst1;
}

.afklaring-tekst2 {
  grid-area: tekst2;
  padding-top: 30%;
}

.afklaring-tekst3 {
  grid-area: tekst3;
  padding-top: 30%;
  padding-bottom: 10%;
}
.afklaring-img1 {
  grid-area: img1;
  height: 300px;
  width: auto;
  padding-left: 20%;
  padding-top: 5%;
}

.afklaring-img2 {
  grid-area: img2;
  height: 250px;
  width: 250px;
  padding-left: 25%;
  padding-top: 20%;
}

.afklaring-img3 {
  grid-area: img3;
  height: 200px;
  width: 200px;
  padding-left: 27%;
  padding-top: 20%;
}

/*grids*/
.afklaring_grid {
  display: grid;
  grid-template-columns: 32.5% 67.5%;
  grid-template-rows: auto;
  grid-template-areas:
    "tekst1 img1"
    "tekst2 img2"
    "tekst3 img3";
}

.faser-mobil {
  display: none;
}

.fasergrid-img1 {
  grid-area: img4;
  height: 250px;
  width: 250px;
  padding-left: 20%;
  padding-top: 5%;
}

.faser_grid {
  display: grid;
  grid-template-columns: 32.5% 67.5%;
  grid-template-rows: auto;
  grid-template-areas: "tekst4 img4";
}

.faser-tekst {
  grid-area: tekst4;
  padding-right: 35%;
}

/*reveal css*/
.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/*scroll view*/

.scroll {
  position: absolute;
  top: 84%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6f95aa;
  margin-left: 0;
}

.scroll p {
  font-size: 15px;
  font-weight: 700;
}
.view {
  color: #c0bcbb;
}
.arrow {
  position: absolute;
  top: 89%;
  left: 50%;
  margin-left: 0;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 3px solid #6f95aa;
  border-right: 3px solid #6f95aa;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/*Kontakt style*/
.kontakt h1 {
  font-size: 40px;
  color: #515f6d;
  font-weight: 700;
  padding-bottom: 2rem;
}

.kontakt p {
  line-height: 1.7rem;
  font-size: 15px;
  letter-spacing: -0.013em;
  padding-bottom: 2rem;
}

#kontaktkommentar {
  background-color: #ffffff;
  width: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 22px;
  color: #515f6d;
  font-size: 22px;
  font-weight: 700;
}

.kontakt h2 {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #aa81ac;
  padding-top: 0;
}

.kontaktgrid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: "kontakttekst kontaktbillede nav";
}

.kontakttekst {
  padding-right: 35%;
}

.buttonkontakt {
  background-color: #aa81ac;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  font-weight: 700;
  padding: 5px 20px;
  transition: 200ms;
}

.kontaktos {
  background-color: #ffffff;
  color: #aa81ac;
  border: 5px solid #aa81ac;
}

.kontaktos:hover {
  background-color: #aa81ac;
  color: #fff;
}

/*Navigation*/

.slidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.3s;
  padding-top: 60px;
  margin-top: 0px;
  text-align: left;
}

.slidenav a {
  padding: 8px 8px 8px 52px;
  font-size: 18px;
  display: block;
  transition: 0.3s;
}
.slidenav a:hover {
  text-decoration: none;
}
.icon {
  float: right;
  margin: 15px 30px;
  font-size: 36px;
  color: #515f6d;
  cursor: pointer;
}
.slidenav .closeicon {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin: 4px;
  text-decoration: none;
  color: #515f6d;
}
.nav {
  text-decoration: none;
  padding: 1rem 2rem;
}
.number4 {
  color: #6696ac;
}
.nav-text {
  color: #515f6d;
  font-weight: 700;
  overflow: hidden;
  display: block;
}
.nav4 {
  color: #6696ac;
  text-decoration: none;
  font-weight: 700;
}
.nav-text::before {
  content: "0" counter(item);
  counter-increment: item;
  font-weight: 400;
  margin: 1rem;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
/*Faserne*/
main {
  height: 600px;
  width: 1000px;
  display: grid;
  grid-template-rows: 498px;
  grid-template-areas: "a";
  margin-left: 7%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.tab {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: baseline;
  grid-area: a;
  grid-gap: 20px;
  height: 600px;
}

.tabcontent {
  display: none;
  -webkit-animation: fadeEffect 0.5s;
  animation: fadeEffect 0.5s;
  height: 600px;
  cursor: pointer;
  color: white;
}

.tabcontent p,
h3 {
  margin-left: 5%;
  margin-right: 15%;
}
.tabcontents {
  grid-area: a;
  height: 600px;
  width: 1000px;
}

.tabcontents > button {
  text-align: left;
  height: 600px;
  width: 1000px;
  border: none;
  font: inherit;
  font-size: inherit;
  outline: none;
}

/* Faser styling */

#fase1 {
  background-color: #aab97d;
}

#fase2 {
  background-color: #c79e69;
}

#fase3 {
  background-color: #a484a9;
}

#fase4 {
  background-color: #6f95aa;
}

#fase5 {
  background-color: #cb7854;
}
.tab > button {
  text-align: center;
  display: grid;
  grid-template-rows: 120px 120px 120px 120px 120px;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e";
  height: 600px;
  color: white;
  cursor: pointer;
  border: none;
  font: inherit;
  outline: none;
}

button > h4 {
  margin-top: 40px;
}

.tab button:hover {
  opacity: 0.7;
  box-shadow: honeydew 1px 2px;
}

.billede {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.tablinks1 > h3 {
  grid-area: b;
}
.tablinks1 > h4 {
  grid-area: d;
}
.tablinks1 > img {
  grid-area: c;
}
.tablinks1 {
  background-color: #aab97d;
  justify-content: center;
  margin-top: auto;
}

.tablinks2 > h3 {
  grid-area: b;
}
.tablinks2 > h4 {
  grid-area: d;
}
.tablinks2 > img {
  grid-area: c;
}
.tablinks2 {
  background-color: #c79e69;
}

.tablinks3 > h3 {
  grid-area: b;
}
.tablinks3 > h4 {
  grid-area: d;
}
.tablinks3 > img {
  grid-area: c;
}
.tablinks3 {
  background-color: #a484a9;
}

.tablinks4 > h3 {
  grid-area: b;
}
.tablinks4 > h4 {
  grid-area: d;
}
.tablinks4 > img {
  grid-area: c;
}
.tablinks4 {
  background-color: #6f95aa;
}

.tablinks5 > h3 {
  grid-area: b;
}
.tablinks5 > h4 {
  grid-area: d;
}
.tablinks5 > img {
  grid-area: c;
}
.tablinks5 {
  background-color: #cb7854;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.test {
  visibility: hidden;
}

.fase-1 {
  margin-left: 30%;
  margin-right: 30%;
}

@media screen and (max-width: 1500px) {
  .afklaring-img1 {
    padding-top: 10%;
  }

  .afklaring-img2 {
    padding-top: 18%;
  }

  .afklaring-img3 {
    padding-top: 12%;
  }

  .fasergrid-img1 {
    padding-top: 11%;
  }
}

@media screen and (max-width: 1000px) {
  .slidenav {
    background-color: #fff;
    border-left: solid 2px grey;
  }

  h1 {
    font-size: 32px;
  }

  .main-message h1 {
    font-size: 35px;
  }

  .main-message h2 {
    font-size: 35px;
  }

  main {
    display: none;
  }

  .afklaring_grid {
    margin-right: 7%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "img1"
      "tekst1"
      "img2"
      "tekst2"
      "img3"
      "tekst3";
  }

  .afklaring-img1 {
    padding: 0;
  }

  .faser_grid {
    margin-right: 7%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "img4"
      "tekst4";
  }

  .fasergrid-img1 {
    padding-top: 0;
  }

  .kontaktgrid {
    margin-right: 7%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "kontakttekst"
      "kontaktbillede";
  }

  .kontakttekst {
    padding-right: 0;
  }

  .kontakt h1 {
    font-size: 32px;
  }

  .faser-mobil {
    display: contents;
    padding-left: 7%;
  }

  .faser-mobil h2 {
    font-weight: 700;
  }

  .faser-mobil > p,
  h2,
  h3 {
    margin-left: 7%;
    margin-right: 7%;
  }

  .section-1 h2 {
    margin-left: 0;
  }

  .kontakt h2 {
    margin-left: 0;
  }

  .red {
    color: #cb7854;
  }
}
