body {
  justify-self: center;
  font-family: Roboto Mono;
}
body,
html {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
main {
  height: 6000px;
  width: 1000px;
  display: grid;  
  grid-template-rows: 498px;
  grid-template-areas: "a";
}

.tab {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: baseline;
  grid-area: a;
  grid-gap: 20px;
  height: 600px;
}

.tabcontent {
  display: none;
  -webkit-animation: fadeEffect 0.5s;
  animation: fadeEffect 0.5s;
  height: 600px;
  cursor: pointer;
  color: white;
}



.tabcontents {
  grid-area: a;
  height: 600px;
  width: 1000px;
}

.tabcontents > button {
  text-align: left;
  height: 600px;
  width: 1000px;
  border: none;
  font: inherit;
  font-size: inherit;
  outline: none;
}

/* Faser styling */

#fase1 {
  background-color: #aab97d;

}

.tabcontents > h3 {
  margin-block-start: none;
  margin-block-end: none;
}

#fase2 {
  background-color: #c79e69;
}

#fase3 {
  background-color: #a484a9;
}

#fase4 {
  background-color: #6f95aa;
}

#fase5 {
  background-color: #cb7854;
}
.tab > button {
  text-align: center;
  display: grid;
  grid-template-rows: 120px 120px 120px 120px 120px;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e";
  height: 600px;
  color: white;
  cursor: pointer;
  border: none;
  font: inherit;
  outline: none;
}

button > h4 {
  margin-top: 40px;
}

.tab button:hover {
  opacity: 0.7;
  box-shadow: honeydew 1px 2px;
}

.billede {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.tablinks1 > h3 {
  grid-area: b;
}
.tablinks1 > h4 {
  grid-area: d;
}
.tablinks1 > img {
  grid-area: c;
}
.tablinks1 {
  background-color: #aab97d;
  justify-content: center;
  margin-top: auto;
}

.tablinks2 > h3 {
  grid-area: b;
}
.tablinks2 > h4 {
  grid-area: d;
}
.tablinks2 > img {
  grid-area: c;
}
.tablinks2 {
  background-color: #c79e69;
}

.tablinks3 > h3 {
  grid-area: b;
}
.tablinks3 > h4 {
  grid-area: d;
}
.tablinks3 > img {
  grid-area: c;
}
.tablinks3 {
  background-color: #a484a9;
}

.tablinks4 > h3 {
  grid-area: b;
}
.tablinks4 > h4 {
  grid-area: d;
}
.tablinks4 > img {
  grid-area: c;
}
.tablinks4 {
  background-color: #6f95aa;
}

.tablinks5 > h3 {
  grid-area: b;
}
.tablinks5 > h4 {
  grid-area: d;
}
.tablinks5 > img {
  grid-area: c;
}
.tablinks5 {
  background-color: #cb7854;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.test {
  visibility: hidden;
}